body {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 83%);  
  text-align: center;
  margin: 0;
}

#title {
  color: white;
  padding-left: 20px;
}

#greeting {
  color: white;
}

#logout {
  margin-top: 50%;
  border: none;
  border-radius: 5px;
  padding: 16px 32px;
}

#sign-in {
  border: none;
  border-radius: 5px;
  padding: 16px 32px;
}

#welcome-page {
  margin-top: 400px;  
  color: white;
}

button:hover {
  background-color: #8d8d8d;
}

.home {
  background-color: white;
}